<html>
    <head>
    </head>
    <body>
        <form method="post" action="/login">
            <input type="text" name="username" placeholder="User Name"/>
            <input type="password" name="password" placeholder="password"/>
            <button type="submit">login</button>
        </form>
    </body>
</html>

<html>

<!--/*<head>
</head>
<body>
<form method="post" action="/">
    <input type="text" name="email" placeholder="Email" value="{{email}}"/>
    <input type="password" name="password" placeholder="Password"/>

    <button type="submit">Submit</button>
    
{{#users}}
    <p>
    {{email}}
    </p>
{{/users}}

</form>
</body>

</html>
*/*