<html>
    <head>
    </head>
    <body>
        <form method="post" action="/newGab">
            <input type="text" name="content" placeholder="your new gab"/>
            <button type="submit">Add your Gab</button>
        </form>
    </body>
</html>

<html>