<html>
    <head>
    </head>
    <body>
        <form method="post" action="/signup">
            <input type="text" name="username" placeholder="User Name"/>
            <input type="password" name="password" placeholder="Password"/>
            <input type="text" name="displayname" placeholder="Display Name"/>
            <button type="submit">Sign up</button>
        </form>
    </body>
</html>

