<html>
    <head>
    </head>
    <body>
        <form method="post" action="/signin">
            <input type="text" name="name" placeholder="Ninja Name"/>
            <input type="password" name="password" placeholder="Secret Knock"/>
            <button type="submit">Signin</button>
        </form>
    </body>
</html>


